

.home-images{
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.home-img{
    width: 90%;
    height: 40vh;
    border-radius: 10px;
}
.home-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-subcard {
    background-color: #fff;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    margin: 20px;
}
.home-subcard1 {
    background-color: #fff;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    margin: 20px;
    border: 2px solid orange;
    cursor: pointer;
}

.sub-card-img{
    width: 200px;
    height: 200px;
}